@media (max-width: 815px) {
  body {
    flex-direction: column;
  }
  .container {
    flex-direction: column;
  }
}

@media (max-width: 500px) {
  body {
    background: rgba(0, 0, 0, 0.5);
  }
  .displayText {
    display: block;
    color: white;
    margin: 30rem 7rem;
    text-align: center;
  }

  .container {
    display: none;
  }
}
