body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dataContainer {
  margin: 3rem;
}

.btnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.btn {
  padding: 0.5rem;
  width: 8rem;
  font-size: 1.5rem;
  margin: 1rem;
  cursor: pointer;
  border: 1px solid transparent;
  box-shadow: 1px 1px 5px gray;
  border-radius: 1rem;
  background: rgba(199, 239, 255, 0.699);
}

.btn:hover {
  background: rgba(226, 246, 253, 0.699);
}

.dataContainer__select {
  width: max-content;
  text-align: center;
}

.worldBtn {
  font-weight: bold;
  background: rgba(226, 246, 253, 0.699);
}

.worldBtn:hover {
  background: rgba(199, 239, 255, 0.699);
}

.dataContainer__canvas {
  margin: 4rem;
  width: 50vw;
  display: block;
  box-sizing: border-box;
}

.countryContainer__canvas {
  margin: 4rem;
  width: 30vw;
  display: block;
  box-sizing: border-box;
}

.displayNone {
  display: none;
}

.visibilityHidden {
  visibility: hidden;
}

.countryContainer {
  position: relative;
}

.countryContainer--circle {
  position: absolute;
  top: 12rem;
  right: 23rem;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: circle-clear;
  border-left: rgb(1, 245, 253) 0.4rem solid;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
}

@keyframes circle-clear {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

.displayText {
  display: none;
}
